<div class="row list-view-row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        fromEvent
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <p>signature: </p>
                        <p class="card-text fromEvent">
                            fromEvent(target: EventTargetLike, eventName: string, selector: function): Observable
                        </p>
                        <p>With the help of fromEvent we can create a observable as a Stream</p>
                        <a routerLink="fromEvent" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Interval
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/interval.PNG" class="image"/>
                        </p>
                        <p>With the help of Interval we can create a observable as a Stream</p>
                        <a routerLink="interval" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        timer
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/timer.PNG" class="image"/>
                        </p>
                        <p>With the help of timer we can create a observable as a Stream</p>
                        <a routerLink="timer" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Of and From
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <p class="card-text">
                            <strong class="d-flex p-2">Of : </strong>
                            <img src="../../../assets/images/of.PNG" class="image" style="border-bottom: 2px;"/>
                            <strong  class="d-flex p-2">From : </strong>
                            <img src="../../../assets/images/from.PNG" class="image"/>
                        </p>
                        <p>With the help of <strong>of and from</strong>  we can create a observable as a Stream</p>
                        <a routerLink="offrom" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        toArray
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/toArray.PNG" class="image"/>
                        </p>
                        <p class="card-text">Collects all source emissions and emits them as an array when the source completes.</p>
                        <a routerLink="toArray" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Custom
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CREATION OBSERVABLES</h5>
                        <strong>Signature: - </strong>
                        <p class="card-text fromEvent">create(subscribe: function)</p>
                        <p class="card-text">Create an observable with given subscription function.</p>
                        <a routerLink="custom" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Map
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/map.PNG" class="image"/>
                        </p>
                        <p class="card-text">Apply projection with each value from source.</p>
                        <a routerLink="map" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Pluck
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/pluck.PNG" class="image"/>
                        </p>
                        <p class="card-text">Maps each source value to its specified nested property.</p>
                        <a routerLink="pluck" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Filter
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">FILTERING OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/filter.PNG" class="image"/>
                        </p>
                        <p class="card-text">Emit values that pass the provided condition.</p>
                        <a routerLink="filter" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Tap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">UTILITY OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/tap.PNG" class="image"/>
                        </p>
                        <p class="card-text">Used to perform side-effects for notifications from the source observable</p>
                        <a routerLink="tap" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Take / TakeLast / TakeUntil 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">FILTERING OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/take.PNG" class="image"/>
                        </p>
                        <p class="card-text">Emits only the first count values emitted by the source Observable.</p>
                        <a routerLink="take" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
          
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Retry, RetryWhen, Scan & Delay
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ERROR HANDLE OPERATORS</h5>
                        <strong>Signature: - </strong>
                        <p class="card-text fromEvent">retry(number: number): Observable</p>
                        <p class="card-text">Retry an observable sequence a specific number of times should an error occur.</p>
                        <a routerLink="retry" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        DebounceTime & DistinctUntilChanged
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">FILTERING OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/debounce.PNG" class="image"/>
                        </p>
                        <p class="card-text">Emits a notification from the source Observable only after a particular time span has passed without another source emission.</p>
                        <a routerLink="debounceTime" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        concatMap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/concatMap.PNG" class="image"/>
                        </p>
                        <p class="card-text">Projects each source value to an Observable which is merged in the output Observable, in a serialized fashion waiting for each one to complete before merging the next.</p>
                        <a routerLink="debounceTime" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Subject and BehaviorSubject
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SPECIAL TYPE OF OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/subject.PNG" class="image"/>
                        </p>
                        <p class="card-text">Projects each source value to an Observable which is merged in the output Observable, in a serialized fashion waiting for each one to complete before merging the next.</p>
                        <a routerLink="subject" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Replay Subject
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SPECIAL TYPE OF OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/subject.PNG" class="image"/>
                        </p>
                        <p class="card-text">"Replays" or emits old values to new subscribers.</p>
                        <a routerLink="replay-subject" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Concat
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">COMBINATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/concat.PNG" class="image"/>
                        </p>
                        <p class="card-text">Subscribe to observables in order as previous completes</p>
                        <a routerLink="concat" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        Merge
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">COMBINATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/merge.PNG" class="image"/>
                        </p>
                        <p class="card-text">Turn multiple observables into a single observable.</p>
                        <a routerLink="merge" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        MergeMap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/mergeMap.PNG" class="image"/>
                        </p>
                        <p class="card-text">Projects each source value to an Observable which is merged in the output Observable.</p>
                        <a routerLink="mergeMap" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        concatMap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/concatMap1.PNG" class="image"/>
                        </p>
                        <p class="card-text">Map values to inner observable, subscribe and emit in order.</p>
                        <a routerLink="concatMap" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        concatMap 2 Mobile Notification Example
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/concatMap1.PNG" class="image"/>
                        </p>
                        <p class="card-text">Map values to inner observable, subscribe and emit in order.</p>
                        <a routerLink="concatMap2" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                       SwitchMap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/switchMap.PNG" class="image"/>
                        </p>
                        <p class="card-text">Map values to inner observable, subscribe and emit in order.</p>
                        <a routerLink="SwitchMap" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                       SwitchMap Search Example
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        <p class="card-text">
                            <img src="../../../assets/images/switchMap.PNG" class="image"/>
                        </p>
                        <p class="card-text">Map values to inner observable, subscribe and emit in order.</p>
                        <a routerLink="SwitchMapSearch" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        ExhaustMap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        
                        <p class="card-text">Map to inner observable, ignore other values until that observable completes.</p>
                        <a routerLink="exhaustMap" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        ShareReplay
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        
                        <p class="card-text">Avoid Dublicate http Request.</p>
                        <a routerLink="ShareReplay" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                        CatchError 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        
                        <p class="card-text">CatchError & ThrowError  Globally.</p>
                        <a routerLink="CatchError" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                       CombineLatest
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        
                        <p class="card-text">CombineLatest &   WithLatestFrom .</p>
                        <a routerLink="combineLatest" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
            <li>
                <div class="card text-center">
                    <div class="card-header">
                       Cold and Hot
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TRANSFORMATION OPERATORS</h5>
                        
                        <p class="card-text"> Cold and Hot.</p>
                        <a routerLink="hotCold" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </li>
             
            
        </ul>
       
    </div>
</div>
<router-outlet></router-outlet>