<div>
    <h2>Promise</h2>

    <h4>Promise</h4>
        <p> <strong>1.</strong> async </p>
        <p> <strong>2.</strong> Return Single Value </p>
                <ul>
                    <li>- resolve(Yes)</li>
                    <li>- reject(No)</li>
                </ul>
        
            
                <br/>
                <br/>
                <br/>
                <br/>


    <h4>Observable</h4>
    <p> <strong>1.</strong> async or sync </p>
    <p> <strong>2.</strong> Return Stream of values </p>
            <p>0---------0--------0</p>
</div>
<div>
    <strong>{{purchedLaptop | json}}</strong>
</div>