.Green{
    background: green;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.Yellow{
    background: yellow;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.Red{
    background: red;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.Blue{
    background: blue;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.Volvet{
    background: violet;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.Orange{
    background: orange;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.Purple{
    background: purple;
    width: 91px;
    color: #fff;
    padding: ma;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
