<div class="my-3">
    <h2> combineLatest & CombineLatestFrom</h2>
    <br/>

    <div class="row">
        <div class="col-md-3 pr-4">
            <strong>Names</strong>
            <hr/>
            <select class="form-control" #name>
                <option *ngFor="let item of nameSource" value="{{item}}">{{item}}</option>
            </select>
            <br/>
            <br/>
            <strong> Colors</strong>
            <hr/>
            <select class="form-control" #color>
                <option *ngFor="let item of colorSource" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="col-md-9 ml-auto">
            <strong> CombileLatest</strong>
            <hr/>
            <div class="wrapper d-flex flex-row" id="container1">

            </div>
            <strong>WithLatestFrom</strong>
            <hr/>
            <div class="wrapper d-flex flex-row" id="container2">

            </div>
        </div>
    </div>
</div>